<!DOCTYPE html>
<html>
<head>
	<title>Mosaic Info</title>
	<style type="text/css">
	body{
		font-family:helvetica;
		background-color:#9bf;
		color:#444;
	}
	.container{
		background-color:#fff;
		width:600px;
		margin:auto;
		padding:10px;
	}
	</style>
</head>
<body>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>