<h1>Welcome to your new Mosaic Application</h1>
<h2><a href="/__mosaic__/info">Application Info</a></h2>
<h3>Where Next?</h3>
<p>Start by getting rid of the content in <i>/views/index.html.erb</i> you dont want this as a home page.</p>
<p>Head over to <a href="http://mosaic.arcath.net/">mosaic.arcath.net</a> and look at some of the modules listed there.</p>
